[Desktop Entry]
Encoding=UTF-8
Name=Wo ist der Eismann?
Type=Service
Icon=marble
ServiceTypes=Plasma/Applet

X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-Plasma-DefaultSize=400,275

X-KDE-PluginInfo-Name=wo-ist-der-eismann
X-KDE-PluginInfo-Version=0.4.2
X-KDE-PluginInfo-Author=Fabian Henze
X-KDE-PluginInfo-Email=flyser42@gmx.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
